.subtitle + .title {
  margin-top: -10px !important;
}

.content h2 {
  margin-top: 40px !important;
}

.content h3 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.content h4 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.content h5 {
  margin-top: 0px !important;
}

.section {
  padding-bottom: 20px !important;
}

.content * {
  font-weight: 300 !important;
}
